.bg-section-1{
    background-image: url('../assets/bg_section_1_about_us.svg');
    background-size: cover;
    background-position: right;
    background-size: 300px;
    background-repeat: no-repeat;
}

.divider-mini{
<<<<<<< HEAD
    width: 45vmin;
}

.btn-super-special{
    border-radius: 40px;   
    /* padding: 1.8vmin 2vmin 1.8vmin 2vmin; */
    padding-top: 10px;
    padding-bottom: 10px;
    width: 25vmin;
=======
    width: 30vmin;
>>>>>>> refs/remotes/origin/main
}

.bg-section-3{
    background-image: url('../assets/Group_1000002221.svg');
    background-size: cover;
<<<<<<< HEAD
    background-position:bottom;
    background-position-x: center;
    background-size: 330px !important;
=======
    background-position: center;
    background-size: 400px;
>>>>>>> refs/remotes/origin/main
    background-repeat: no-repeat;
}

#hero-about{
    height: 55vh;
    margin: 0px;
}

<<<<<<< HEAD
#desktop-section2{
    display: none !important;
}

.about-card-tablet-left{
    position: absolute;
    width: 170px !important;
    float: left;
    left: 0;
    top: 1100px;
    z-index: 1;
}

.about-card-tablet-right{
    position: absolute;
    width: 170px !important;
    float: right;
    right: 0;
    top: 1750px;
    z-index: 1;
}

.img-mini-about-small{
    width: 95px;
}
.img-mini-about-med{
    width: 115px;
}

.btn-hero-about{
    border-radius: 5vmin;   
    padding: 1.8vmin 2vmin 1.8vmin 2vmin;
    width: 30vmin;
}

.img-sm-tablet{
    width: 30px;
    margin-top: -15px;
}

@media only screen and (max-width: 340px){
    .width-container-inter2-px{
        width: 260px !important;
    }
    #hero-about{
        padding-top: 13vh !important;
        height: 390px !important;
        margin: 0px !important;
    }
    .btn-hero-about{
        border-radius: 5vmin;   
        padding: 1.8vmin 2vmin 1.8vmin 2vmin;
        width: 33vmin;
    }
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .about-card-tablet-left{
        display: none !important;
    }
    .about-card-tablet-right{
        display: none !important;
    }
=======

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
>>>>>>> refs/remotes/origin/main
    .custom-img {
        width: 150px;
      }
    .width-medium-container {
        width: 70vw !important;
    }
    div#about-section1-tablet{
        display: none !important;
    }
    div#about-section1-desktop{
        display: none !important;
    }
    div#about-section3-tablet{
        display: none !important;
    }
    div#about-section3-desktop{
        display: none !important;
    }
    div#about-section4-desktop{
        display: none !important;
    }
    div#footer-desktop{
        display: none !important;
    }
    #hero-about{
<<<<<<< HEAD
        padding-top: 11vh;
=======
        padding-top: 15vh;
>>>>>>> refs/remotes/origin/main
        height: 440px;
        margin: 0px;
    }
    .border-bottom-half {
        border-bottom: 3px solid #19CDFA !important;
        padding-bottom: 0.8vmin !important;
        width: 80px !important;
    }
    .width-medium-container-special {
        width: 80vw !important;
    }
    div#footer-tablet{
        display: none !important;
    }
    .custom-card {
        border-radius: 2vmin;
        background-color: white;
        width: 90vw !important;
    }
    .divider-mini{
<<<<<<< HEAD
        width: 200px !important;
=======
        width: 30vmax;
>>>>>>> refs/remotes/origin/main
    }
    .border-bottom-half {
        border-bottom: 0.7vmin solid #19CDFA !important;
        padding-bottom: 0.8vmin;
        width: 20%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
/*DONE*/
@media only screen and (min-width: 600px) {
<<<<<<< HEAD
    #image-section3{
        width: 50vmin !important;
        height: 50vmin !important;
    }
=======
>>>>>>> refs/remotes/origin/main
    .width-container-medium-px{
        width: 250px !important;
      }
    #container-tablet{
        width: 420px !important;
    }
    .border-bottom-quarter-px {
        border-bottom: 3px solid #19CDFA !important;
        padding-bottom: 0.8vmin !important;
        width: 140px !important;
    }
    .border-bottom-half-px{
        border-bottom: 3px solid #19CDFA !important;
        padding-bottom: 0.8vmin !important;
        width: 270px !important;
    }

    #hero-about{
<<<<<<< HEAD
        padding-top: 10vh;
=======
        padding-top: 15vh;
>>>>>>> refs/remotes/origin/main
        height: 420px;
        margin: 0px;
    }

    .width-container-inter1-px{
        width: 480px !important;
    }

    .width-container-inter2-px{
        width: 380px;
    }

    .img-small-footer {
        width: 40vmin;
    }

    .custom-card {
        border-radius: 2vmin;
        background-color: white;
<<<<<<< HEAD
        width: 85vw !important;
=======
        width: 90vw !important;
>>>>>>> refs/remotes/origin/main
    }

    .width-medium-container {
        width: 80vw;
    }

    div#about-section1-mobile{
        display: none !important;
    }

    div#about-section1-desktop{
        display: none !important;
    }

    div#about-section3-mobile{
        display: none !important;
    }

    div#about-section3-desktop{
        display: none !important;
    }

    div#about-section4-mobile{
        display: none !important;
    }

    div#footer-mobile{
        display: none !important;
    }

    .width-medium-container-special {
        width: 420px !important;
    }

    .width-medium-container-tablet{
        width: 300px;
    }

    .img-small {
        width: 300px;
    }

<<<<<<< HEAD
    #about-section1-tablet{
        position: relative;
    }
    .img-small-special-1 {
        height: 320px !important;
        position: absolute;
        float: right;
        right: 0;
        top: 130px;

    }
    .image-small-special{
        height: 320px !important;
        position: absolute;
        float: right;
        right: 0;
        top: 130px;
    }
}

@media only screen and (min-width: 670px) and (max-width: 768px){
    .img-small-special-1 {
        height: 400px !important;
        position: absolute;
        float: right;
        right: 0;
        top: 130px;

=======
    .img-small-special {
        height: 220px !important;
        padding-right: 20px !important;
>>>>>>> refs/remotes/origin/main
    }
}

/* Medium devices (landscape tablets, 768px and up) */
/*DONE*/
@media only screen and (min-width: 768px) {
<<<<<<< HEAD
    #image-section3{
        width: 50vmin !important;
        height: 50vmin !important;
    }
    .logo-size {
        width: 30vmin;
        margin-left: 42px !important;
    }
    .about-card-tablet-left{
        position: absolute;
        width: 170px !important;
        float: left;
        left: 0;
        top: 1070px;
        z-index: 1;
    }
    
    .about-card-tablet-right{
        position: absolute;
        width: 170px !important;
        float: right;
        right: 0;
        top: 1750px;
        z-index: 1;
    }

    .btn-hero-about{
        border-radius: 5vmin !important;   
        padding: 1.6vmin 1.8vmin 1.6vmin 1.8vmin !important;
        width: 20vmin !important;
    }

=======
>>>>>>> refs/remotes/origin/main
    .width-container-medium-px{
        width: 350px !important;
      }
    #container-tablet{
        width: 420px !important;
    }

    .border-bottom-half-px{
        border-bottom: 3px solid #19CDFA !important;
        padding-bottom: 0.8vmin !important;
        width: 270px !important;
    }

    #hero-about{
<<<<<<< HEAD
        padding-top: 8vh;
        height: 370px;
=======
        padding-top: 15vh;
        height: 420px;
>>>>>>> refs/remotes/origin/main
        margin: 0px;
    }

    .width-container-inter1-px{
        width: 500px !important;
    }

    .width-container-inter2-px{
        width: 380px;
    }

    .img-small-footer {
        width: 40vmin;
    }

    .custom-card {
        border-radius: 2vmin;
        background-color: white;
<<<<<<< HEAD
        width: 80vw !important;
=======
        width: 90vw !important;
>>>>>>> refs/remotes/origin/main
    }

    .width-medium-container {
        width: 80vw;
    }

    div#about-section1-mobile{
        display: none !important;
    }

    div#about-section1-desktop{
        display: none !important;
    }

    div#about-section3-mobile{
        display: none !important;
    }

    div#about-section3-desktop{
        display: none !important;
    }

    div#about-section4-mobile{
        display: none !important;
    }

    div#footer-mobile{
        display: none !important;
    }

    .width-medium-container-special {
        width: 420px !important;
    }

    .width-medium-container-tablet{
        width: 300px;
    }

    .img-small {
        width: 40vmax;
    }

    .img-small-special {
        width: 45vmax !important;
        margin-left: 9vmin;
    }

    .border-bottom-quarter-px {
        border-bottom: 3px solid #19CDFA !important;
        padding-bottom: 0.8vmin !important;
        width: 140px !important;
    }
<<<<<<< HEAD
    .img-small-special-1 {
        height: 400px !important;
        position: absolute;
        float: right;
        right: 0;
        top: 130px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 800px){
    .about-card-tablet-left{
        position: absolute;
        width: 200px !important;
        float: left;
        left: 0px;
        top: 1070px;
        z-index: 1;
    }
    
    .about-card-tablet-right{
        position: absolute;
        width: 200px !important;
        float: right;
        right: 0;
        top: 1700px;
        z-index: 1;
    }
}
@media only screen and (min-width: 800px) and (max-width: 850px){
    #image-section3{
        width: 50vmin !important;
        height: 50vmin !important;
        padding-bottom: 50px !important;
    }
    .about-card-tablet-left{
        position: absolute;
        width: 220px !important;
        float: left;
        left: 0px;
        top: 1000px;
        z-index: 1;
    }
    
    .about-card-tablet-right{
        position: absolute;
        width: 200px !important;
        float: right;
        right: 0;
        top: 1700px;
        z-index: 1;
    }
}
@media only screen and (min-width: 850px) and (max-width: 900px){
    #image-section3{
        width: 50vmin !important;
        height: 50vmin !important;
        padding-bottom: 70px !important;
    }
    .about-card-tablet-left{
        position: absolute;
        width: 220px !important;
        float: left;
        left: 0px;
        top: 1000px;
        z-index: 1;
    }
    
    .about-card-tablet-right{
        position: absolute;
        width: 200px !important;
        float: right;
        right: 0;
        top: 1700px;
        z-index: 1;
    }
}
@media only screen and (min-width: 900px) and (max-width: 992px){
    #image-section3{
        width: 50vmin !important;
        height: 50vmin !important;
        padding-bottom: 100px !important;
    }
    .about-card-tablet-left{
        position: absolute;
        width: 220px !important;
        float: left;
        left: 0px;
        top: 950px;
        z-index: 1;
    }
    .about-card-tablet-right{
        position: absolute;
        width: 200px !important;
        float: right;
        right: 0;
        top: 1660px;
        z-index: 1;
    }
}

@media only screen and (min-width: 780px) and (max-width: 850px){
    .width-container-mini-inter1-px{
        width: 350px !important;
    }
    .img-small-special-1 {
        height: 400px !important;
        position: absolute;
        float: right;
        right: 0;
        top: 100px;
    }
}

@media only screen and (min-width: 850px) and (max-width: 900px){
    .width-container-mini-inter1-px{
        width: 370px !important;
    }
    .img-small-special-1 {
        height: 400px !important;
        position: absolute;
        float: right;
        right: 0;
        top: 80px;
    }
}

@media only screen and (min-width: 900px) and (max-width: 992px){
    .width-container-mini-inter1-px{
        width: 450px !important;
    }
    .img-small-special-1 {
        height: 400px !important;
        position: absolute;
        float: right;
        right: 0;
        top: 70px;
    }
=======
>>>>>>> refs/remotes/origin/main
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
<<<<<<< HEAD
    .card-desktop{
        background-color: white;
        border-radius: 2vmin;
        padding: 15px;
    }
    .about-card-tablet-left{
        position: absolute;
        width: 290px !important;
        float: left;
        left: 0px;
        top: 1050px;
        z-index: 1;
    }
    .about-card-tablet-right{
        position: absolute;
        width: 200px !important;
        float: right;
        right: 0;
        top: 0px;
        z-index: 1;
    }
    #tablet-section2{
        display: none !important;
    }
    #desktop-section2{
        display: block !important;
    }
    #header-mission-spec-desktop{
        align-self: flex-start !important;
    }
=======
>>>>>>> refs/remotes/origin/main
    .width-container-medium-px{
        width: 350px !important;
      }

    #container-tablet{
        width: 480px !important;
    }

    .img-mini-mobile {
        width: 15vmax;
      }
    .img-med {
<<<<<<< HEAD
        width: 45vmax;
=======
        width: 36vmax;
>>>>>>> refs/remotes/origin/main
      }
    .width-container-inter2-px{
        width: 450px !important;
    }
    #responsive-desktop{
<<<<<<< HEAD
        justify-self: center;
=======
        margin: 30px 80px 30px 80px !important;
>>>>>>> refs/remotes/origin/main
    }
    #content-special-desktop{
        text-align: left !important;
        width: 320px !important;
    }
    .img-custom-px{
        position: absolute;
        float: left;
        width: 200px;
<<<<<<< HEAD
        top: 1100px;
=======
        top: 1000px;
>>>>>>> refs/remotes/origin/main
    }
    .width-medium-container{
        width: 40vw;
    }
    div#about-section1-mobile{
        display: none !important;
    }
    div#about-section1-tablet{
        display: none !important;
    }
    div#about-section1-desktop{
        display: block !important;
    }
    div#about-section3-mobile{
        display: none !important;
    }
    div#about-section3-tablet{
        display: none !important;
    }
    div#about-section3-desktop{
        display: block !important;
    }
    div#about-section4-mobile{
        display: none !important;
    }
    div#about-section4-desktop{
        display: block !important;
    }
    div#footer-mobile{
        display: none !important;
    }
    div#responsive-desktop{
        display: flex !important;
        flex-direction: row !important;
        justify-content: center !important;
        align-items: center !important;
<<<<<<< HEAD
        align-self: center !important;
    }
    #hero-about{
        height: 40vh !important;
=======
    }
    #hero-about{
        height: 54vh !important;
>>>>>>> refs/remotes/origin/main
        margin: 0px !important;
    }
    .responsive-text{
        width: 30vmin !important;
    }
    img#rotate-img{
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    .border-bottom-quarter {
        border-bottom: 0.5vmin solid #19CDFA;
        padding-bottom: 0.8vmin;
        width: 210px;
    }
<<<<<<< HEAD
    .img-small-special-desktop {
        width: 500px !important;
        margin-bottom: 80px;
    }
}

@media only screen and (min-width: 1060px) and (max-width: 1150px){
    .pl-50px{
        padding-left: 25px !important;
    }
}

@media only screen and (min-width: 1150px) and (max-width: 1220px){
    .pl-50px{
        margin-left: -5vw !important;
    }
}

@media only screen and (min-width: 1220px) and (max-width: 1300px){
    .pl-50px{
        margin-left: -6vw !important;
    }
} 
@media only screen and (min-width: 1300px) and (max-width: 1400px){
    .pl-50px{
        margin-left: -8vw !important;
    }
}
@media only screen and (min-width: 1400px) and (max-width: 1500px){
    .pl-50px{
        margin-left: -10vw !important;
    }
}
@media only screen and (min-width: 1500px) and (max-width: 1600px){
    .pl-50px{
        margin-left: -11vw !important;
    }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .divider-mini{
        width: 30vmin;
    }
    .custom-card {
        border-radius: 2vmin;
        background-color: white;
        width: 80vw !important;
    }
=======
    .img-small {
        width: 20vmax !important;
    }
    .img-small-special {
        width: 55vmax !important;
    } 
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
>>>>>>> refs/remotes/origin/main
    .img-mini-mobile {
        width: 15vmax;
      }
    .img-med {
<<<<<<< HEAD
        width: 35vmax;
=======
        width: 36vmax;
>>>>>>> refs/remotes/origin/main
      }
    .width-container-inter2-px{
        width: 450px !important;
    }
    #responsive-desktop{
        margin: 30px 80px 30px 80px !important;
<<<<<<< HEAD
        align-self: center !important;
    }
=======
    }
    /* #content-special-desktop{
        text-align: left !important;
    } */
>>>>>>> refs/remotes/origin/main
    .img-custom-px{
        position: absolute;
        float: left;
        width: 200px;
        top: 1000px;
    }
<<<<<<< HEAD
=======
    /* #content-special-desktop{
        width: 32vw;
    } */
>>>>>>> refs/remotes/origin/main
    .width-medium-container{
        width: 40vw;
    }
    div#about-section1-mobile{
        display: none !important;
    }
    div#about-section1-tablet{
        display: none !important;
    }
    div#about-section1-desktop{
        display: block !important;
    }
    div#about-section3-mobile{
        display: none !important;
    }
    div#about-section3-tablet{
        display: none !important;
    }
    div#about-section3-desktop{
        display: block !important;
    }
    div#about-section4-mobile{
        display: none !important;
    }
    div#about-section4-desktop{
        display: block !important;
    }
    div#footer-mobile{
        display: none !important;
    }
    div#responsive-desktop{
        display: flex !important;
        flex-direction: row !important;
        justify-content: center !important;
        align-items: center !important;
    }
    #hero-about{
<<<<<<< HEAD
        height: 38vh !important;
=======
        height: 54vh !important;
>>>>>>> refs/remotes/origin/main
        margin: 0px !important;
    }
    .responsive-text{
        width: 30vmin !important;
    }
    img#rotate-img{
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    .border-bottom-quarter {
        border-bottom: 0.5vmin solid #19CDFA;
        padding-bottom: 0.8vmin;
        width: 210px;
    }
    .img-small {
        width: 20vmax !important;
    }
    .img-small-special {
        width: 55vmax !important;
    } 
}